html{
    height: 100%;
}

body{
    height:100%;
}

#map{
    height: 50%; 
    width: 100%;
}

#route{
    height: 40%; 
    width: 100%;
    overflow: scroll;
}

.header{
    height: 20%;
    width: 100%;
    margin: 0.3rem 0 1rem 2rem;
    font-size: 2rem;
    text-shadow: 0.3rem 0.3rem 0.3rem grey;
}

.menu_bar{
    display: flex;
    flex-direction: row;
}

.area{
    width: 85%;
}

.search_form{
    margin-left: auto;
}

.delete-btn{
    margin-left: auto;
}

.hide{
    display: none;
}